---
import Skelet from "../layout/skelet.astro";
import Arrow from "../components/arrow.astro";

export async function getStaticPaths() {
  const data = await fetch("https://qnmavaxwhjqqhjgjqurq.supabase.co/rest/v1/atm", {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFubWF2YXh3aGpxcWhqZ2pxdXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1OTM0ODEsImV4cCI6MjAzMTE2OTQ4MX0.RDkLGM5hqlega6p_jA4OWoHfM2D8Iqrtah5GOXEY1e0",
    },
  }).then((response) => response.json());
  return data.map((post) => {
    return {
      // laver en url for hver side med et unikt slug
      params: { slug_wn: post.slug_wn },
      //   sender props med ned til undersiden, hvor myData har værdien af post
      props: { myData: post },
    };
  });
}
// laver en constant med den data der er fra den unikke slug, her samles myData op
const { myData } = Astro.props;
---

<Skelet title={myData.index_headline}>
  <div class="topbar">
    <h3>{myData.type}</h3>
    <h3>{myData.date}</h3>
  </div>

  <div class="p1_2img_grid">
    <img class="img_1" src={myData.pictures[0]} alt={myData.index_headline[0]} />
    <img class="img_2" src={myData.pictures[1]} alt={myData.index_headline[1]} />
    <div class="paragraf_1">
      <h2>{myData.headline}</h2>
      <p>{myData.text[0]}</p>
    </div>
  </div>

  <div class="p2_3img_grid">
    <div class="paragraf_2">
      <p>{myData.text[1]}</p>
      <p>{myData.text[2]}</p>
    </div>
    <div class="raekke_img">
      <img src={myData.pictures[2]} alt={myData.pictures[2]} />
      <img src={myData.pictures[3]} alt={myData.pictures[3]} />
      <img src={myData.pictures[4]} alt={myData.pictures[4]} />
    </div>
  </div>

  <div class="img6_grid">
    <img class="img_6_big" src={myData.pictures[5]} alt={myData.pictures[5]} />
    <img class="img_6_small" src={myData.pictures[5]} alt={myData.pictures[5]} />
  </div>
  <Arrow link="whats_new.html" />
</Skelet>

<style>
  /* GENERELT */
  p {
    line-height: 1.7;
  }
  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  img {
    width: 100%;
  }

  /* GRIDS */
  .p1_2img_grid {
    display: grid;
    grid-template-columns: auto 60%;
    grid-template-rows: 1fr;
  }

  .p2_3img_grid {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 15% 20px;
  }

  .img6_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  /* TEKST */

  .paragraf_1 {
    grid-column: 2;
    grid-row: 2;
    margin: 32px 13px;
  }

  .paragraf_2 {
    grid-column: 1;
    grid-row: 1/4;
  }

  /* BILLEDER */

  .img_1 {
    grid-column: 1/3;
    height: 149px;
    object-fit: cover;
    object-position: 20% 26%;
    position: relative;
    left: 54px;
  }
  .img_2 {
    position: relative;
    left: -13%;
    top: -6%;
    width: 126px;
    /* "klipper" og posistionerer billedet */
    height: 387px;
    object-fit: cover;
    object-position: 71%;
  }

  .raekke_img {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1/4;
    align-items: flex-end;
    position: relative;
    top: -70px;
    left: 10px;
  }
  .raekke_img img {
    margin: 10px 10px;
    width: 60%;
    flex-wrap: nowrap;
  }

  .img_6_big {
    grid-row: 1/3;
    grid-column: 1/5;
    width: 65%;
  }
  .img_6_small {
    grid-row: 1/2;
    grid-column: 1/3;
    position: relative;
    top: -20%;
    left: -2%;
    width: 56%;
  }

  /* DESKTOP */
  @media (min-width: 800px) {
    .topbar {
      margin: 5% 20px;
    }

    /* GRIDS */
    .p1_2img_grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-top: 10%;
    }

    .p2_3img_grid {
      display: grid;
      grid-template-columns: 1fr 3fr;
      margin-bottom: -352px;
    }

    .img6_grid {
      justify-items: end;
      position: relative;
      top: -34%;
      right: 10%;
    }

    /* TEKST */
    .paragraf_1 {
      grid-column: 1/3;
      grid-row: 1/3;
      margin: 0 20px;
      max-width: 600px;
    }
    .paragraf_2 {
      grid-column: 2;
      text-align: right;
      margin-right: 20px;
      margin-left: 30%;
    }

    /* BILLEDER */

    .img_1 {
      grid-column: 3/5;
      grid-row: 1/2;
      height: 141px;
      object-fit: cover;
      object-position: 20% 26%;
      position: relative;
      left: 40px;
      width: 551px;
      top: -40%;
    }
    .img_2 {
      grid-row: 1/3;
      grid-column: 4/5;
      position: static;
      width: 328px;
      margin-top: 10%;
      margin-right: 20px;
    }

    .raekke_img {
      grid-column: 1;
      display: grid;
      position: relative;
      top: -22%;
      left: 20%;
    }

    .img_6_big {
      width: 30%;
    }
    .img_6_small {
      position: relative;
      top: 108%;
      left: 52%;
      width: 25%;
    }
  }
</style>
