---
import Skelet from "../layout/skelet.astro";
import Arrow from "../components/arrow.astro";

export async function getStaticPaths() {
  const data = await fetch("https://qnmavaxwhjqqhjgjqurq.supabase.co/rest/v1/atm", {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFubWF2YXh3aGpxcWhqZ2pxdXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1OTM0ODEsImV4cCI6MjAzMTE2OTQ4MX0.RDkLGM5hqlega6p_jA4OWoHfM2D8Iqrtah5GOXEY1e0",
    },
  }).then((response) => response.json());
  return data.map((post) => {
    return {
      // liste over sider der skal genereres
      params: { slug_wn: post.slug_wn },
      //   sender props med ned til undersiden
      props: { myData: post },
    };
  });
}
const { myData } = Astro.props;
---

<Skelet>
  <div class="topbar">
    <h3>{myData.type}</h3>
    <h3>{myData.date}</h3>
  </div>
  <div class="p1_2img">
    <img class="img_1" src={myData.pictures[0]} alt={myData.index_headline[0]} />
    <img class="img_2" src={myData.pictures[1]} alt={myData.index_headline[1]} />

    <div class="paragraf_1">
      <h2>{myData.headline}</h2>
      <p>{myData.text[0]}</p>
    </div>
  </div>
  <div class="p2_3img">
    <div class="paragraf_2">
      <p>{myData.text[1]}</p>
    </div>
    <div class="raekke_img">
      <img src={myData.pictures[2]} alt={myData.pictures[2]} />
      <img src={myData.pictures[3]} alt={myData.pictures[3]} />
      <img src={myData.pictures[4]} alt={myData.pictures[4]} />
    </div>
  </div>
  <div class="img_6">
    <img class="img_6_big" src={myData.pictures[5]} alt={myData.pictures[5]} />
    <img class="img_6_small" src={myData.pictures[5]} alt={myData.pictures[5]} />
  </div>
  <Arrow link="whats_new.html" />
</Skelet>

<style>
  p {
    line-height: 1.7;
  }
  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  img {
    width: 100%;
  }

  .img_1 {
    grid-column: 1/3;
    height: 149px;
    object-fit: cover;
    object-position: 20% 26%;
  }
  .img_2 {
    position: relative;
    width: 100%;
    /* left: -65%;
    top: 30%;
    height: 387px;
    object-fit: cover;
    object-position: 71%;
    overflow: hidden; */
  }

  .p1_2img {
    display: grid;
    /* grid-template-columns: auto 60%; */
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .paragraf_1 {
    grid-column: 2;
    grid-row: 2;
    margin: 32px 13px;
    overflow: hidden;
  }

  .paragraf_2 {
    width: 45%;
    margin: 59px 32px;
  }

  .raekke_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    justify-content: unset;
    margin-left: auto;
    margin-right: 20px;
  }
  .raekke_img img {
    margin: 10px 10px;
    width: 90%;
  }

  .p2_3img {
    display: flex;
    flex-direction: row;
    height: 452px;
    overflow: hidden;
  }

  .img_6 {
    margin: 20px 0;
    overflow: hidden;
  }

  .img_6_big {
    margin: 0 20px;
  }
  .img_6_small {
    position: relative;
    bottom: -67%;
    width: 29%;
    left: 3%;
    overflow: hidden;
  }
  /* desktop view */
  @media (min-width: 800px) {
    .topbar {
      margin: 0 20px;
      margin-top: 10%;
    }

    .p1_2img {
      display: grid;
      grid-template-columns: 50% auto;
      grid-template-rows: auto auto;
    }
    .img_1 {
      grid-column: 2;
      width: auto;
    }

    .img_2 {
      position: static;
      grid-column: 2;
      grid-row: 1;
      width: 50%;
    }

    .paragraf_1 {
      grid-column: 1;
      grid-row: 1;
      margin: 0 20px;
      height: auto;
    }
  }
</style>
