---
import "../styles/generel.css";

const { data } = Astro.props; //dataen hentes fra astro.props
---

<!-- indholdet udfyldes med det fra databasen ved at skrive {data."navn på kollonne"} -->
<a href=`/${data.slug_wn}.html`
  ><article class={data.type}>
    <div class="date_div">
      <p class="menu">{data.date}</p>
    </div>
    <div class="margin">
      <div class="event_grid">
        <div class="event_tekst">
          <h2>{data.headline}</h2>
          <p>{data.text[0]}</p>
          <a class="read_more" href=`/${data.slug_wn}.html`>read more ></a>
        </div>
        <div class="img_grid">
          <img src={data.index_pictures} alt={data.index_headline} />
        </div>
      </div>
    </div>
  </article></a
>

<style>
  a {
    text-decoration: none;
  }
  /*Sæt margin på det indhold der ligger inde i .margin*/
  .margin {
    margin: 20px;
  }
  .menu {
    text-align: right; /*sæt teksten til højre*/
    border-bottom: 0.5px solid #1e1e1e; /*lav streg under datoen*/
    width: 60%; /*sæt længde på elementet*/
    align-self: flex-end;
    margin-bottom: 3%;
    transition: 1s;
    font-weight: 300;
    font-size: 30px;
  }

  .date_div {
    display: flex;
    transition: 1s;
  }
  .date_div:hover {
    width: 83%;
  }
  /*Sæt postition og størrelse på billedet*/
  img {
    height: 265px;
    margin-top: 40px;
  }
  .img_grid {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 800px) {
    .date_div {
      width: 75%;
    }
    .menu {
      font-size: 50px;
    }
    .event_grid {
      margin-left: 20px;
      padding-right: 400px;
      height: 350px;
    }
    .img_grid {
      justify-content: right;
    }
    img {
      margin-top: 20px;
      position: relative; /*ændre position på billedet så det kan rykkes med top og left ift. parent element*/
      top: -200px; /*ændre på placering på y-aksen*/
      left: 330px; /*ændre placering på x-aksen*/
      object-fit: cover; /* Gør så billedet bliver croppet, hvis det ikke passe ind i rammen */
      max-width: 300px;
    }
  }
</style>
